/* 미디어 쿼리 */
@media (max-width: 1420px) {
    #header .header_wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .menu_ico {
        cursor: pointer;
        position: fixed;
        right: 20px;
        top: 30px;
    }
    .menu_ico .ico {
        width: 20px;
        height: 20px;
        background-image: url("../img/More-vertical.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    .menu_ico .ico a {
    }
    #header {
        overflow-y: unset;
        overflow-x: unset;
    }
    #header h1 {
        margin-right: 10px;
    }
    .header_nav {
        display: none;
    }
    .header_nav.on {
        display: block;
    }
    .header_nav ul {
        padding: 20px;
        position: fixed;
        right: 20px;
        top: 60px;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
    }
    .header_nav ul li {
        margin: 20px 0;
        text-align: center;
    }
    .header_nav ul li a {
    }
}

#header .header_wrap .header_nav ul li a {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;

    transition: all 0.3s;
}
@media (max-width: 1250px) {
    .container {
        width: 96%;
    }
}
@media (max-width: 1080px) {
    .container {
        width: 96%;
    }
    .sliderType .slider_image .slider_txt h2 {
        font-size: 55px;
    }
    .image_inner > h2 {
        font-size: 40px;
    }
    .image_inner > p {
        font-size: 18px;
    }
    .image_inner .image_box {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;
    }
    .imageText_inner .imageText_box.txt {
        width: 96%;
    }
    .imageText_inner .imageText_box.txt {
        text-align: center;
    }
    .imageText_inner .imageText_box {
        display: inline-block;
        width: 48%;
        height: 300px;
        padding: 10px;
    }
    .imageText_inner .imageText_box.txt h2 {
        font-size: 40px;
    }
    .cardBox_inner {
        justify-content: space-around;
    }
    .card__inner > h2 {
        font-size: 40px;
    }
    .card__inner > p {
        font-size: 18px;
    }
    .banner_img > h2 {
        font-size: 40px;
    }
    .banner_img > p {
        font-size: 20px;
    }
    .textType_inner > h2 {
        font-size: 40px;
    }
    .text_box {
        width: 48%;
    }
    #header .header_wrap h1 a {
        font-size: 20px;
        margin-right: 10px;
    }
    #header .header_wrap .header_nav ul li a {
        font-size: 13px;
        padding: 10px 25px;
    }
    #header .header_wrap .header_login a {
        font-size: 13px;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .sliderType .slider_image .slider_txt h2 {
        font-size: 50px;
    }
    .image_inner > h2 {
        font-size: 30px;
    }
    .image_inner > p {
        font-size: 16px;
    }
    .imageText_inner {
    }
    .image_inner .image_box {
        margin: 0 auto;
        width: 96%;
        margin-bottom: 20px;
    }
    .imageText_inner .imageText_box {
        width: 96%;
        margin-bottom: 20px;
    }
    .imageText_inner .imageText_box.txt h2 {
        font-size: 30px;
    }
    .imageText_inner .imageText_box.txt p {
        font-size: 16px;
    }
    .imageText_inner .imageText_box.txt ul li a {
        font-size: 16px;
    }
    .imageText_box.imgText_box1 a {
        font-size: 15px;
    }
    .cardBox_inner .card_box {
        width: 96%;
        margin-bottom: 20px;
    }
    .banner_img > h2 {
        font-size: 30px;
    }
    .banner_img > p {
        font-size: 16px;
    }
    .text_box {
        width: 96%;
    }
    .footerList_inner .list h3 {
        font-size: 16px;
    }
    .footerList_inner .list ul li a {
        font-size: 12px;
    }
}