@import url("https://webfontworld.github.io/earlyfont/EF_Macho.css");

.music__wrap {
}
.music__inner {
    width: 450px;
    background: #000;
    position: absolute;
    right: 100px;
    top: 100px;
    padding: 10px;
    padding-top: 0;
}
.music__header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.music__header h2 {
    font-size: 14px;
}
.music__contents {
    background: #c4c4c4;
    width: 100%;
}
.music__view {
    display: flex;
    padding: 20px;
}
.music__view .img {
    width: 30%;
}

.music__view .img img {
    width: 100%;
}
.music__view .title {
    width: 69%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.music__view .title h3 {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 1.2;
}

.music__view .title p {
    color: red;
}
.music__control {
    width: 100%;
    height: 100px;
    padding: 20px;
    padding-top: 0;
}
.music__control .progress {
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 5px;
}
.music__control .progress .bar {
    width: 30%;
    height: inherit;
    background: #7fff58;
    border-radius: 5px;
}
.music__control .progress .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}
.music__control .control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.music__control .control .repeat {
    width: 48px;
    height: 48px;
    background: url(../img/music_icon.svg);
    background-position: -288px 0;
    transform: scale(0.8);
}
/* .control > div {
    display: flex;
} */

/* .music__control .control .repeat_one {
    width: 48px;
    height: 48px;
    background: url(../img/music_icon.svg);
    background-position: -300px 0;
}
.music__control .control .shuffle {
    width: 48px;
    height: 48px;
    background: url(../img/music_icon.svg);
    background-position: -240px 0;
} */
.music__control .control .prev {
    width: 48px;
    height: 48px;
    background: url(../img/music_icon.svg);
    background-position: -96px 0;
    transform: scale(0.8);
}
.music__control .control .play {
    width: 48px;
    height: 48px;
    background: url(../img/music_icon.svg);
    background-position: 0 0;
    transform: scale(0.8);
}
/* .music__control .control .stop {
    width: 48px;
    height: 48px;
    background: url(../img/music_icon.svg);
    background-position: -48px 0;
} */
.music__control .control .next {
    width: 48px;
    height: 48px;
    background: url(../img/music_icon.svg);
    background-position: -144px 0;
    transform: scale(0.8);
}
.music__control .control .list {
    width: 48px;
    height: 48px;
    background: url(../img/music_icon.svg);
    background-position: -192px 0;
    transform: scale(0.8);
}
