:root {
    --htmlColor : #223547;
    --cssColor : #56c785;
    --javascriptColor : #7d56c7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NexonLv1Gothic';
    /* color: #223547; */
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: var(--htmlColor);
    text-decoration: none;
}

li {
    list-style: none;
}
strong {
    color: #223547;
}
/* header */
#header {}
#header nav {
    margin: 10px;
}
#header nav ul {}
#header nav li {
    position: relative;
    display: inline;
}
#header nav li a {
    width: 30px;
    height: 30px;
    border: 1px solid var(--htmlColor);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-family: 'NexonLv1Gothic';
}
#header nav li.active a {
    background-color: var(--htmlColor);
    color: #fff;
}
#header nav li .sub {
    position: absolute;
    left: 0;
    top: 35px;
    width: 400px;
}
#header nav li .sub li a {
    width: auto;
    background-color: transparent;
    color: var(--htmlColor);
    border: 0;
    text-align: left;
    line-height: 1.2;
}
#header nav li .sub li.active a {
    text-decoration: underline;
}
/* main */
#main {
    margin: 50px 10px;
}
.search__wrap {
    max-width: 1400px;
    margin: 0 auto;
    border: 3px solid var(--htmlColor);
    border-radius: 20px;
    background-color: #f1f3f6;
    padding: 30px;
    text-align: center;
}
.search__wrap > span {
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.search__wrap > h1 {
    font-family: 'Tmon';
    color: var(--htmlColor);
    font-size: 6vw;
    margin-bottom: 10px;
}
.search__box {
    margin-bottom: 20px;
}
.search__box label {
    position:absolute;
    clip:rect(0 0 0 0);
    width:1px;
    height:1px;
    margin:-1px;
    overflow:hidden
}
.search__box input {
    border: 2px solid var();
    padding: 15px 40px;
    width: 70%;
    border-radius: 50px;
    font-size: 20px;
}
.search__list li {
    text-align: left;
    line-height: 1.7;
}
.search__list li.hide {
    display: none;
}
.search__list li {

}

.search__list li.show {
    display: block;
}
.search__info {
    text-align: right;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--htmlColor);
}
.search__info .type {
    text-align: center;
    margin-bottom: 10px;
}
.search__info .keyword {
    text-align: center;
    margin-bottom: 10px;
}
.search__info .keyword span {
    border: 2px solid var(--htmlColor);
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 4px;
}
.search__info .keyword span:hover {
    background-color: var(--htmlColor);
    color: #fff;
    cursor: pointer;
}
@media (max-width: 600px) {
    .search__wrap {
        padding: 20px;
    }
    .search__wrap > span {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .search__wrap > h1 {
        font-size: 44px;
    }
    .search__box input {
        font-size: 16px;
        padding: 12px 30px;
    }
}
/* footer */
#footer {
    text-align: center;
}

#footer a {
    color: #000;
    font-family: 'NexonLv1Gothic';
    padding-bottom: 50px;
}

#footer a:hover {
    text-decoration: underline;
}

/* modal__wrap */
.modal__wrap {
}

.modal__btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.modal__btn .btn__txt {
    margin-left: 20px;
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    background: var(--htmlColor);
    border: 3px solid #333;
    border-radius: 5px;
    box-shadow: 3px 3px #999;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.modal__btn .btn__txt:hover {
    background-color: #dcdcdca9;
    color: #000;
    box-shadow: 3px 3px #444;
}

.modal__close {
    cursor: pointer;
    background-color: #f5f5f5;
    padding: 10px 10px 7px 10px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 20px;
    /* visibility: hidden; */
}

.modal__close:hover {
    background-color: #222;
    color: #fff;
    box-shadow: 2px 2px 20px #111;
}

.modal__close.show {
    visibility: visible;
}

.modal__cont {
    /* z-index: 6; */
    z-index: 20;
    display: flex;
    font-size: 15px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    /* visibility: hidden; */
}

.modal__box {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 10px 20px -5px hsl(180deg 2% 10%);
    transform: scale(0);
}

.modal__box .title {
    padding-inline: 1.5rem;
    background-color: hsl(0 0% 13%);
    display: flex;
    align-items: center;
    color: #fff;
    height: 60px;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.modal__box .title .dot {
    width: 15px;
    height: 15px;
    background-color: hsl(41 99% 59%);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 30px;
}

.modal__box .title .dot::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: hsl(129 67% 47%);
    border-radius: 50%;
}

.modal__box .title .puls {
    cursor: pointer;
    margin-left: 15px;
    background-color: hsl(0 0% 24%);
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
}

.modal__box .title .dot::after {
    content: '';
    position: absolute;
    right: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: hsl(3 100% 67%);
    border-radius: 50%;
}

.modal__box .title .tabs {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
}

.modal__box .title .tabs>div.active {
    background-color: rgb(80, 80, 80);
}

.modal__box .title .tabs>div {
    color: #ccc;
    background-color: hsl(0 0% 20%);
    padding: 0.35rem 0.8rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
}

.modal__box .title .tabs>div em {
    font-style: normal;
}

.modal__box .title .tabs>div .favicon {
    margin-right: 0.4rem;
    margin-top: 0.25rem;
}

.modal__box .title .tabs>div .close {
    margin-left: 3rem;
}

.modal__box .title .tabs>div .close svg {}

.modal__box .cont {
    background-color: #2c2c2c;
    height: 550px;
    box-sizing: border-box;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow-y: auto;
}

.modal__box .cont>div {
    display: none;
}

.modal__box .cont>div.active {
    display: block;
    height: 100%;
}


input[type="checkbox"] {
    display: none;
}

/* 모달 애니메이션 */
.modal__cont.show {
    /* visibility: visible; */
    animation: forldOut forwards 0.7s ease;
}

.modal__cont.show .modal__box {
    transform: scale(0);
    animation: zoomOut 0.4s 0.5s ease forwards;
}


.modal__cont.show .modal__close {
    animation: ClosOut 0.3s 1s ease forwards;
    opacity: 0;
}

@keyframes forldOut {
    0% {transform: scaleX(0) scaleY(0.005);}
    50% {transform: scaleX(1) scaleY(0.005);}
    100% {transform: scale(1) scaleY(1);}
}

@keyframes zoomOut {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes ClosOut {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.modal__cont.show.hide {
    /* visibility: visible; */
    animation: forldIn backwards 0.3s 0.6s ease;
}

.modal__cont.show.hide .modal__box {
    transform: scale(0);
    animation: zoomIn 0.3s 0.3s ease backwards;
}

.modal__cont.show.hide .modal__close {
    transform: scale(0);
    animation: ClosIn 0.3s ease backwards;
}


@keyframes forldIn {
    0% {transform: scaleX(1) scaleY(1);}
    50% {transform: scaleX(1) scaleY(0.005);}
    100% {transform: scale(0) scaleY(0.005);}
}

@keyframes zoomIn {
    0% {transform: scaleX(1);}
    100% {transform: scale(0);}
}
@keyframes ClosIn {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@media (max-width: 1100px){
    .modal__box {
        width: 96%;
    }
    .modal__box .title .dot {
        overflow: hidden;
        display: none;
    }
    .modal__box .title .tabs {
        margin-left: 0;
    }
    .modal__box .title .tabs>div .close {
        display: none;
    }
}

@media (max-width: 600px) {
    .header {
        width: 100%;
    }
    .modal__box {
        width: 96%;
    }
    .modal__box .title .dot {
        display: none;
    }
    .modal__box .title .tabs {
        margin-left: 0;
    }
    .modal__box .title .tabs>div .close {
        display: none;
    }
}

@media (max-width: 480px) {
    .header {
        width: 100%;
    }
    .modal__box {
        width: 96%;
    }
    .modal__box .title {
        padding: 5px;
    }
    .modal__box .title .dot {
        display: none;
    }
    .modal__box .title .tabs {
        margin-left: 0;
    }
    .modal__box .title .tabs>div .close {
        display: none;
    }

    .modal__box .title .tabs>div {
        font-size: 12px;
    }

    .modal__box .title .puls {
        display: none;
    }

    pre code.hljs {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 800px) {
    .intro_menu {
        width: 90%;
        padding: 14px;
    }

    .intro_menu li {
        font-size: 16px;
    }
    .intro_menu ul li a {
        font-size: 16px;
    }
}